@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background: #E2E6E9;
    font-family: "Montserrat", sans-serif;
}

.container{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.box{
    background: #FFFFFF;
}

img{
    width: 5vh;
    height: 5vh;
    border-radius: 99rem;
}

.right1{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.box1{
    display: flex;
    justify-content: space-between;
    grid-column: span 6;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
}

.left1{
    display: flex;
    align-items: center;

}

ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

.plus{
    background: #F4F6F7;
    cursor: pointer;
    border-radius: 10px;
}

.all{
    background: #8DA7FF;
    color: white;
    padding: .3rem 1rem;
    border-radius: 10px;
}

.left1{
    background: #FED37D;
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 35px;
}


.box2{
    grid-column: span 3;
    grid-row: span 8;
    border-radius: 10px;
}

.box3{
    grid-row: span 5;
    grid-column: span 3;
    border-radius: 10px;
}

.box4{
    grid-column: span 3;
    grid-row: span 4;
    border-radius: 10px;
}