@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background: #D5D7FE;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.container{
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    height: 95vh;
    width: 80rem;
    border-left: 1px solid rgba(255, 255, 255);
    border-top: 1px solid rgba(255, 255, 255);
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
}

.top1{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.fa-ellipsis{
    color: #9EA1D0;
}

.wizz-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
    background: #fff;
}

.wizz-bar1{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.wizz-bar1 p{
    color: #1E213E;
    font-weight: 800;
}

.fa-star{
    color: #FDA41D;
}

.dribble-menu{
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    gap: 1rem;
    width: 10rem;
    padding-left: 1rem;
    border-radius: 5px;
}

.dribble-menu p{
    font-weight: 700;
}

.fa-dribbble{
    color: #ED377B;
    font-size: 22px;
}


.book-menu{
    display: flex;
    align-items: center;
}

.corner{
    display: flex;
    gap: 1rem;
}

.red{
    background: #FD5F57;
    height: 2vh;
    width: 2vh;
    border-radius: 99rem;
    cursor: pointer;
}

.yellow{
    background: #FEBC2E;
    height: 2vh;
    width: 2vh;
    border-radius: 99rem;
    cursor: pointer;
}

.green{
    background: #28C840;
    height: 2vh;
    width: 2vh;
    border-radius: 99rem;
    cursor: pointer;
}

